* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030c;
    --font-principal: 'Inter';
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 45% 10%;
}

.conteiner-caixa {
   margin: 0 5rem; 
}

.conteiner-titulo {
    font-size: 28px;
    font-weight: 700;
}

.conteiner-img {
    margin: 1em 0 2em 0;
}

.conteiner-botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.conteiner-aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario-img {
    width: 80%;  
}

.secundario {
    align-items: center;
    margin: 0 6rem;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2rem;
}

.descricao-texto {
    color: var(--cinza-secundario);
    text-align: justify;
}

.secundario-botao {
    display: inline-block;
    margin-top: 1rem;
}

.conteiner-descricao {
    padding: 2rem;
}