.cabecalho-menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.png");
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteiner {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner-botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu-titulo, .lista-menu-item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu-link {
    color: var(--azul-degrade);
    text-transform: uppercase;
    text-decoration: none;
}

.conteiner-botao {
    display: none;
}