.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1rem 0;
}

.topicos-titulo {
    color: var(--branco);
    font-weight: 300;
    padding: 0.5rem;
    }

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item {
    margin: 2rem 0.5rem;
}

.topicos-link {
    color: var(--branco);
    padding: 1rem;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
}